@keyframes flicker {
    2%  {opacity: 0.8;}
    4%  {opacity: 1.0;}
    20% {opacity: 0.9;}
    22% {opacity: 1.0;}
    26% {opacity: 0.8;}
    30% {opacity: 1.0;}
    42% {opacity: 0.9;}
    44% {opacity: 1.0;}
    56% {opacity: 0.8;}
    60% {opacity: 1.0;}
    72% {opacity: 0.9;}
    74% {opacity: 1.0;}
    78% {opacity: 0.7;}
    80% {opacity: 1.0;}
    94% {opacity: 0.9;}
    0%, 100% {opacity: 1.0;} 
}

.footer {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #ffffff80;
    position: relative;
    bottom: 0;
    font-size: 8.0pt;
    margin-bottom: 16px;
}

.bright {
    color: #fff;
}

a:link {
    color: #fff;
}

a.dark-orange:link {
    color: #ffffff80;
}

a:active {
    filter: brightness(0.5);
}

a.dark-orange:active {
    color: #ffffff80;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #a970ffff;
    animation-name: flicker;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
}

a.orange:hover, a.dark-orange:hover {
    color: #f68f06;
}



.fake-link {
    font-family: 'Inter', sans-serif;
    font-size: 8.0pt;
    color: #fff;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.fake-link:hover {
    color: #f68f06;
    animation-name: flicker;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
}

.fake-link:active {
    filter: brightness(0.5);
}