<mat-card class="mat-elevation-z4">
  <div mat-card-content class="twitch-card-bg" [style.background-color]="twitchColor">
    <div class="overlay" (click)="jsLink(streamURL);">
      <span class="overlay-status"[innerText]="status" [ngStyle]="{'background-color': status == 'LIVE' ? '#e91916' : '#464649'}"></span>
      <span class="overlay-viewers"[innerText]="viewerString" [ngStyle]="{'visibility': status == 'LIVE' ? 'visible' : 'hidden'}"></span>
      <span class="overlay-mature"[ngStyle]="{'visibility': mature === true ? 'visible' : 'hidden'}">18+</span>
    </div>
    <img mat-card-image [ngClass]="this.shouldBlur() ? 'twitch-card-thumb-blur' : 'twitch-card-thumb'" [src]="imageURL">
  </div>
  <mat-card-header>
    <img mat-card-avatar [src]='avatarURL'>
    <mat-card-title matTooltip={{title}} matTooltipPosition="above" matTooltipShowDelay="500" >
      {{ (title.length>40)? (title | slice:0:40)+'...':(title) }}
    </mat-card-title>
    <mat-card-subtitle>{{streamer}}</mat-card-subtitle>
    <mat-card-subtitle 
    [ngStyle]="{'visibility': status == 'LIVE' ? 'visible' : 'hidden'}"
    matTooltip={{game}} matTooltipPosition="above" matTooltipShowDelay="500">
      <button class="fake-link" (click)="tagClick(game)">
        {{ (game.length>40)? (game | slice:0:40)+'...':(game) }}
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of tags | slice:0:4;" (click)="tagClick(tag)">{{humanizeTag(tag)}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      <a [href]="streamURL" target="_blank" [innerText]="buttonString"></a>
    </button>
    <button mat-raised-button color="accent" [routerLink]="['/analytics', streamerURL]">
      Details
    </button>
    <mat-button-toggle [ngStyle]="{'color' : favorite ? '#a970ff' : 'white'}" (click)="toggleFavorite(streamerURL)">
      <mat-icon>favorite</mat-icon>
    </mat-button-toggle>
  </mat-card-actions>
</mat-card>